@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    color: #000;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 80px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content:left;
}

header > h2 {
    margin-left: 20px;
    padding-right: 40px;
}

header > #profile-lion {
    position: relative;
    width: 2.7%;
    left: 300px;
}

header > #alarm {
    position: relative;
    width: 33px;
    right: 27px;
}

.mypage {
    padding-left: 310px;
    padding-right: 30px;
    font-size: 20px;
}

.logout {
    font-size: 15px;
    box-sizing: border-box;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 20px;
    padding: 5px;
}



header > nav {
    width: 600px;
    height: 100%;
}

header ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
}

header ul > li {
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

/* 사이드바 */

/* .middle {
    width: 1440px;
    margin: 20px auto;
    height: 500px;
    position: relative;
} */

.sub-menu {
    list-style: none;
    padding-top: 10px;
}

.sub-menu li {
    padding-top: 30px;
}

.sub-menu a {
    display: block;
}

.sub-menu a:hover{
    color: #4A0987;
}

.sub-center {
    opacity: 0;
    visibility: hidden;
}

.sub-menu > li:hover .sub-center {
    opacity: 1;
    visibility: visible;
    font-size: 13px;
    padding-left: 15px;
}

.sub-center {
    list-style-type: none;
}

.middle{
    margin: 20px auto;
    width: 1440px;
    height: 800px;
    position: relative;
  }

.middle-left{
    position: absolute;
    top: 0px;
    width: 200px;
    height: 800px;
    background-color: rgba(163, 135, 189, 0.295);
    padding-left: 20px;
    padding-top: 20px;
}

.middle-right{
    position: relative;
    top: 0px;
    left: 210px;
    width: 1240px;
    height: 800px;
}

/* 중간 */
.middle-right-1{
    width: 1230px;
    height: 400px;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.048);
}

/* 내 정보 */
.my-info {
    box-sizing: border-box;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 15px;
    border-color: #000;
    background-color: rgba(255, 255, 255, 0);
    width: 42%;
    height: 300px;
    position: absolute;
    left: 40px;
    top: 40px;
    padding-top: 30px;
}

.my-info-content {
    text-align: left;
    position: absolute;
    left: 190px;
    padding-top: 10px;
    line-height: 30px;
}

#lion {
    width: 25%;
    position: absolute;
    left: 25px;
    top: 45px;
}

.my-alarm {
    box-sizing: border-box;
    text-align: center;
    border-style: solid;
    border-width: thin;
    border-radius: 15px;
    border-color: #000;
    background-color: rgba(255, 145, 0, 0.13);
    width: 45%;
    height: 200px;
    position: absolute;
    right: 60px;
    top: 40px;
    padding-top: 15px;
}

.my-alarm-content {
    text-align: left;
    position: absolute;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 20px;
}

/* 캘린더랑 QR코드, 영수증 사진 */

.middle-right-2{
    margin-top: 10px;
    width: 1230px;
    height: 390px;
}

.calander {
    position: absolute;
    top: 430px;
    left: 40px;
}

.QR-code {
    position:absolute;
    right: 200px;
    bottom: 155px;
    width: 160px;
}

#QR {
    position: absolute;
    right: 380px;
    bottom: 140px;
    width: 8%;
}

.barcode {
    position: absolute;
    right: 200px;
    bottom: 55px;
    width: 160px;
}

#B {
    position: absolute;
    right: 380px;
    bottom: 30px;
    width: 8%;
}



.footer {
    background-color: rgba(0, 0, 0, 0.041);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}